@charset "utf-8";

html {
	scroll-behavior: smooth;
    height: 100%;
    margin: 0 auto;
    letter-spacing: 2px;
    font-size: 16px;
}

/*---------------------------
　　　　　　　共通
----------------------------*/
.section-wrap {
  background-color: #DEDED8;
  border-radius: 10px;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.3);
}
.title{
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.btn_more{
  width: 300px;
  background:#E68309;;
  border-radius: 30px;
  box-sizing: border-box;
}
.btn_more a::after {
  content: "";
  position: absolute;
  background: url(../img/asiato.png)no-repeat center;
  background-size: auto;
  width: 30px;
  height: 100%;
  right: 20%;
  bottom: 0;
}
.btn_more a {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  display: block;
  text-align: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 15px;
}

.br-pc{
  display: block;
}
@media screen and (max-width: 1000px) {
  .br-pc{
    display: none;
  }
}



/* ------------ ヘッダー ----------------  */
/*----- トップページ -----*/
.header_sticky {
  position: sticky;
  position: -webkit-sticky;
  top:0;
  z-index: -1;
}

.header_mv {
  height: 100vh;
  position: relative;
  width: 100%;
  overflow-x: hidden;
}

/* キャッチコピー */
.header_copy {
  color: #E68309;
  font-size: 50px;
  font-family: fot-tsukubrdgothic-std, sans-serif;
  font-weight: bold;
  line-height: 1.72;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-100%, -50%);
  z-index: 100;
}
/* キャッチコピーを1行ずつ表示 */
.line {
  display: block;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}



/* 中央イラスト */
.top_icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
/* パーツ */
.top_parts {
  position: absolute;
  z-index: 1;
}

.mountain.left {
  bottom: 70px;
  left: -20px;
  width: 450px;
}
.mountain.right {
  top: 170px;
  right: -50px;
  width: 520px;
  transform: scale(-1, 1);
}

.cloud.left {
  bottom: 350px;
  left: 40px;
  animation: floating-x 7.2s ease-in-out infinite alternate;
}
.cloud.left img {
  width: 100px;
  animation: floating-y 2s ease-in-out infinite alternate;
}
.cloud.right {
  top: 150px;
  right: 150px;
  animation: floating-x 7.2s ease-in-out infinite alternate-reverse;
}
.cloud.right img{
  width: 200px;
  animation: floating-y 2s ease-in-out infinite alternate-reverse;
}

@keyframes floating-x {
  0% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(5px);
  }
}

@keyframes floating-y {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(10px);
  }
}

/* .header_mv img{
    width: 100%;
} */

.header_wrap{
    position: relative;
}
.header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 3%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    z-index: 99;
}
.header_wrap img{
    width: 135px;
}

.pc_nav ul{
    display: flex;
}
.pc_nav ul li{
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
    "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
    color: #E68309;
    width: 105px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

.pc_nav ul li{
  color: #E68309;
  text-align: center;
}
.pc_nav ul li + li{
  margin-left: 55px;
}

.sp_nav, .sp_btn{
    display: none;
}


  /* ---------------------
          レスポンシブ 
--------------------------*/


  @media screen and (max-width: 1100px) {
    .pc_nav{
      display: none;
    }
    /* ハンバーガー */
    .sp_btn{
      display: block;
      height: 23px;
      cursor: pointer;
      /* 位置の調整 */
      position: absolute;
      top: 15px;
      right: 25px;
        /* 重なり具合 */
    z-index: 2;
    }
    .sp_btn span{ 
      display: block;
      width: 33px;
      height: 3px;
      border-radius: 2px;
      background-color: #543d2b;
      /* 位置の調整 */
      position: relative;
      top: 10px;
      /* アニメーション*/
      transition: 0.3s;
    }
  
    .sp_btn span::before,
    .sp_btn span::after {
      content: "";
      display: block;
      width: 33px;
      height: 3px;
      border-radius: 2px;
      background-color: #543d2b;
      /* 位置の調整 */
      position: absolute;
          /* アニメーション*/
          transition: 0.3s;
    }
    .sp_btn span::before{
      bottom: 10px;
    }
    .sp_btn span::after{
      top: 10px;
    }
  
    /* ×印 */
    .sp_btn.open span{
      background: transparent;
    }
    .sp_btn.open span::before{
      bottom: 0;
      transform: rotate(45deg);
    }
    .sp_btn.open span::after{
      top: 0;
      transform: rotate(-45deg);
    }
  
  /* ---------- スマホメニュー(mvのみ) --------- */
    /* spメニューの見た目 */
  .sp_nav{
    /* 画面の位置 */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
     height: 100vh; /*デバイスの高さの100% */
    background-color: rgba(0, 0, 0, 0.8);
    /* 重なり具合 */
    z-index: 1;
  }
  .sp_nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .sp_nav ul li{
    padding: 20px;
    color: #fff;
    font: 18px;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
    "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
  }
  }



/*----------------------------
          aboutコンテンツ
-----------------------------*/
.about-cont {
    height: 739px;
    max-width: 1100px;
    margin: 0 auto;
}
.box{
    display: flex;
    justify-content: space-between;
}
.box-left {
  width: 500px;
}
.box-right {
  width: 500px;
}
.ttl-about {
  font-size: 97px;
  color: #E68309;
  display: inline-block;
  padding: 124px 0 51px 0;
}
.title-m {
  color: #E68309;
  margin-bottom: 16px;
}
.box-left p {
  line-height: 2;
  margin-bottom: 16px;
  letter-spacing: 0.18em;
}
p.text-big {
  font-size: 30px;
  line-height: 2.2;
  margin-top: -11.5em;
  margin-bottom: 7em;
}

.btn_more.works {
  margin: auto;
  margin-right: 8em;
  margin-top: 4em;
}

tr {
  line-height: 1.8;
}
th {
    text-align-last: justify;
}
td::before {
  content: ":";
}

/*-----------------------------
     パララックス
--------------------------------*/
.parallax {
  background: #fff;
}
  .parallax-bg {
    background-image: url('../img/pala-first-img.png');
    background-attachment: fixed;
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    padding: 15%;
}
  .parallax-bg2 {
    background-image: url('../img/pala-second-img.png');
    background-attachment: fixed;
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    padding: 15%;
  }



/*----------------------------
          worksコンテンツ
-----------------------------*/

.scrollbox {
    height: 1031px;
}
.works-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1100px;
    margin: 0 auto;
}
h2.ttl-works {
    font-size: 97px;
    text-align: center;
    color: #e68309;
    padding-top: 98px;
    padding-bottom: 62px;
}
.works-flex-inner {
    width: 32%;
    margin-bottom: 49px;
    text-align: center;
}
.works-flex-inner p {
    margin-top: 14px;
}

/*------------------------
　　　コンタクトフォーム
------------------------*/
h2.ttl-contact {
    font-size: 97px;
    text-align: center;
    color: #e68309;
    padding-top: 115px;
    padding-bottom: 45px;
}

.contact-box{
    max-width: 1100px;
    margin: 0 auto;
    height: 1252px;
    position: relative;
}
.contact-txt {
    text-align: center;
    margin: 0 auto;
    max-width: 633px;
    line-height: 1.75;
    padding-bottom: 103px;
}
.c-form {
	max-width: 736px;
	margin: 0 auto;
}
.c-form__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 81px;
}

.c-form__label,
.c-form__input {
	padding: 10px;
}
.c-form__label {
	width: 100%;
  color: #e68307;
}
.c-form__input {
    width: 100%;
    font-size: 16px;
    border: none;
    border-radius: 4px;
}

.c-form__input:focus-visible {
	outline: green auto 1px;
}
.c-form__required {
	color: #fff;
	background-color: green;
	border-radius: 4px;
	padding: 5px 5px;
	margin: 0 0 0 18px;
}
textarea.c-form__input {
	height: 94px;
}
.c-form__submit {
  text-align: center;
  position: relative;
}
.c-form__submit button {
    width: 300px;
    background: #E68309;
    padding: 10px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    transition: .4s;
    cursor: pointer;
    border: none;
    font-family: fot-tsukubrdgothic-std, sans-serif;
}
button::after {
  content: "";
  position: absolute;
  background: url(../img/asiato.png) no-repeat center;
  background-size: auto;
  width: 35px;
  height: 30px;
  left: 60%;
  top: 25%;
}
.c-form__submit button:hover {
	/* color: #e68309;
	background-color: transparent; */
    opacity: 0.7;
}
.footer-wrapper{
  position: relative;
}
.contact-img {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 95%;
}
.contact-img img{
  width: 100%;
}



@media (min-width: 640px) {
	.c-form__item {
		flex-wrap: nowrap;
	}
	.c-form__label {
		width: 100%;
	}
	.c-form__input {
		width: 100%;
	}
} 


/* -------------- 
      footer 
--------------- */
footer {
    background: #2B492B;
    height: 194px;
    position: relative
}
  .footer_section img {
    max-height: 50px;
    width: 226px;
}
.footer_copy {
    padding-left: 4%;
    font-size: 12px;
    text-align: left;
    color: #fff;
    position: absolute;
    bottom: 34px;
}
  
/*----------------------
   pagetop
----------------------*/
.pagetop {
  position: fixed;
  right: 47px;
  bottom: 47px;
  cursor: pointer;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
  
.pagetop img {
      width: 100px;
} 
/* .pc { display: block !important; }
.sp { display: none !important; } */

/* ---------------------
          レスポンシブ 
--------------------------*/

@media screen and (max-width: 767px) {
.header_wrap {
    position: fixed;
}
.header_wrap img {
    width: 116px;
    padding-top: 10%;
    padding-left: 10%;
}
.header_copy {
  font-size: 28px;
  left: 50%;
}
.top_icon {
  top: 70%;
  left: 70%;
  width: 92px;
}
.cloud.right {
  top: 120px;
  right: 110px;
  animation: floating-x 7.2s ease-in-out infinite alternate-reverse;
  width: 100px;
}
.cloud.left {
  bottom: 160px;
  left: 40px;
  animation: floating-x 7.2s ease-in-out infinite alternate;
}
.mountain.right {
  top: 150px;
  right: 0px;
  width: 250px;
  transform: scale(-1, 1);
}
.mountain.left {
  bottom: 50px;
  left: 0px;
  width: 180px;
}
.ttl-about {
  font-size: 30px;
  color: #E68309;
  text-align: center;
  padding: 1em 0;
  display: block;
}
p.text-big {
  font-size: 19px;
  line-height: 1.38;
}
.btn_more {
  margin: 0 auto;
  margin-top: 2em;
}

/* about */
.box {
  display: flex;
  flex-direction: column;
}
.about-cont {
  height: 900px;
  padding: 0 20px;
}
.box-left {
  width: auto;
}
.box-right {
  width: auto;
  display: contents;
  order: -2;
}
p.text-big {
  font-size: 19px;
  line-height: 1.38;
  margin-top: unset;
  margin-bottom: 2em;
  order: -2;
}

/* work */
.scrollbox {
  height: 2000px;
}
.works-flex {
  display: block;
}
.works-flex-inner {
  width: 100%;
  margin-bottom: 50px;
  text-align: center;
}
h2.ttl-works {
  font-size: 30px;
  padding: 2em 0;
}
.btn_more.works {
  margin: 0 auto;
}

/* パララックス */
.parallax-bg {
  background-image: url('../img/pala-first-img-sp.png');
  padding: 35%;
  background-size: 280px;
}
.parallax-bg2 {
  background-image: url('../img/pala-second-img-sp.png');
  padding: 35%;
  background-size: 280px;
}

/* コンタクトセクション */
h2.ttl-contact {
  font-size: 30px;
  text-align: center;
  color: #e68309;
  padding-top: 3em;
  padding-bottom: 1.6em;
}
.contact-box {
  max-width: none;
  margin: 0;
  height: 1050px;
  position: relative;
}
.contact-txt {
  text-align: center;
  margin: 0 auto;
  max-width: 310px;
  line-height: 1.75;
  padding-bottom: 2.8em;
}
button::after {
  left: 65%;
}
.c-form {
  padding: 0 20px;
}
.c-form__label {
  width: 100%;
  color: #e68307;
}

/* フッター */
footer {
  background: #2B492B;
  height: 114px;
  position: relative;
}
.footer_copy {
  bottom: 10px;
}

/* ページトップ */
.pagetop {
  right: 17px;
  bottom: 13px;
}
.pagetop img {
  width: 70px;
  height: 70px;
}
}