@charset "utf-8";

html {
	scroll-behavior: smooth;
    height: 100%;
    margin: 0 auto;
    letter-spacing: 2px;
    font-size: 16px;
}

/*---------------------------
　　　　　　　共通
----------------------------*/
.section-wrap {
  background-color: #DEDED8;
  border-radius: 10px;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.3);
  margin-top: 10px;
}
.ttl-works {
    font-size: 97px;
    text-align: center;
    color: #e68309;
}
.title{
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.btn_more{
  width: 300px;
  background:#E68309;;
  border-radius: 30px;
  box-sizing: border-box;
}
.btn_more a {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  display: block;
  text-align: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 15px;
}
.btn_more a::after {
    content: "";
    position: absolute;
    background: url(../img/asiato.png)no-repeat center;
    background-size: auto;
    width: 30px;
    height: 100%;
    right: 20%;
    top: 0%;
}

/* ------------ ヘッダー ----------------  */
.header_mv {
    width: 100vw;
    height: 50vh;
    position: relative
}
.header_mv_inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

.header_wrap{
    position: relative;
}
.header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 3% 0 3%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    z-index: 99;

}
.header_wrap img{
    width: 226px;
}

.pc_nav ul{
    display: flex;
}
.pc_nav ul li{
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
    "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
    color: #E68309;
    width: 105px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}
.pc_nav ul li {
    color: #E68309;
    text-align: center;
    list-style: none;
}
nav.pc_nav ul li a {
    text-decoration: none;
    color: #E68309;
}
.pc_nav ul li + li{
  margin-left: 55px;
}

.sp_nav, .sp_btn{
    display: none;
}


  /* ---------------------
          レスポンシブ 
--------------------------*/
@media screen and (max-width: 1100px) {
.pc_nav{
      display: none;
}
/* ハンバーガー */
.sp_btn{
      display: block;
      height: 23px;
      cursor: pointer;
      /* 位置の調整 */
      position: absolute;
      top: 20px;
      right: 25px;
        /* 重なり具合 */
    z-index: 2;
}
.sp_btn span{ 
      display: block;
      width: 33px;
      height: 3px;
      border-radius: 2px;
      background-color: #543d2b;
      /* 位置の調整 */
      position: relative;
      top: 10px;
      /* アニメーション*/
      transition: 0.3s;
}
  
.sp_btn span::before,
.sp_btn span::after {
      content: "";
      display: block;
      width: 33px;
      height: 3px;
      border-radius: 2px;
      background-color: #543d2b;
      /* 位置の調整 */
      position: absolute;
          /* アニメーション*/
          transition: 0.3s;
}
.sp_btn span::before{
      bottom: 10px;
}
.sp_btn span::after{
      top: 10px;
}
  
/* ×印 */
.sp_btn.open span{
      background: transparent;
}
.sp_btn.open span::before{
      bottom: 0;
      transform: rotate(45deg);
}
.sp_btn.open span::after{
      top: 0;
      transform: rotate(-45deg);
}
  
/* ---------- スマホメニュー(mvのみ) --------- */
/* spメニューの見た目 */
.sp_nav{
    /* 画面の位置 */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
     height: 100vh; /*デバイスの高さの100% */
    background-color: rgba(0, 0, 0, 0.8);
    /* 重なり具合 */
    z-index: 1;
}
.sp_nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.sp_nav ul li{
    padding: 20px;
    color: #fff;
    font: 18px;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
    "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
}
}

/*------------------------
　　　ワークスセクション
------------------------*/
section.works-content {
    max-width: 1100px;
    margin: 0 auto;
    padding-bottom: 252px;
}
.works-content-inner {
    padding: 127px 0 0;
}
h2.main-works-title {
    margin-top: 32px;
    font-size: 18px;
}
ul.main-works-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


/*------------------------
　　　コンタクトフォーム
------------------------*/
h2.ttl-contact {
    font-size: 97px;
    text-align: center;
    color: #e68309;
}

.contact-box{
    max-width: 1100px;
    margin: 0 auto;
    height: 664px;
    position: relative;
}
.contact-txt {
  text-align: center;
  margin: 0 auto;
  max-width: 633px;
  line-height: 1.75;
  padding: 45px 0 70px;
}
.btn_more {
  width: 300px;
  background: #E68309;
  border-radius: 30px;
  margin: 0 auto;
}
.footer-wrapper{
    position: relative;
}
.contact-img {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 95%;
}
.contact-img img{
    width: 100%;
}


/* -------------- 
      footer 
--------------- */
footer {
    background: #2B492B;
    height: 194px;
    position: relative
}
  .footer_section img {
    max-height: 50px;
    width: 226px;
}
.footer_copy {
    padding-left: 4%;
    font-size: 12px;
    text-align: left;
    color: #fff;
    position: absolute;
    bottom: 34px;
}

/*----------------------
   pagetop
----------------------*/
.pagetop {
    position: fixed;
    right: 47px;
    bottom: 47px;
    cursor: pointer;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}

.pagetop img {
    width: 100px;
} 


/* ---------------------
          レスポンシブ 
--------------------------*/

@media screen and (max-width: 767px) {
    .header_wrap {
        position: fixed;
    }
    .header_wrap img {
        width: 116px;
        padding-top: 10%;
        padding-left: 10%;
    }
.ttl-about {
        font-size: 30px;
        color: #E68309;
        text-align: center;
        padding: 3em 0;
        display: block;
}
p.text-big {
        font-size: 19px;
        line-height: 1.38;
}
      
/* worksセクション */
section.works-content {
    max-width: fit-content;
    margin: unset;
    padding-bottom: unset;
}
.ttl-works {
    font-size: 30px;
    text-align: center;
    color: #e68309;
}
.works-content-inner {
    padding: 0 20px;
}
ul.main-works-list li {
    padding-bottom: 4em;
}

    
    
/* コンタクトセクション */
h2.ttl-contact {
        font-size: 30px;
        text-align: center;
        color: #e68309;
        padding-top: 3em;
        padding-bottom: 1.6em;
}
.contact-box {
      max-width: none;
      margin: 0;
      height: 570px;
      position: relative;
}
.contact-txt {
        text-align: center;
        margin: 0 auto;
        max-width: 310px;
        line-height: 1.75;
        padding-bottom: 2.8em;
}
button::after {
        left: 65%;
}
      
/* フッター */
footer {
    background: #2B492B;
    height: 114px;
    position: relative;
}
.footer_copy {
    bottom: 10px;
}
  
/* ページトップ */
.pagetop {
    right: 17px;
    bottom: 13px;
}
.pagetop img {
  width: 70px;
  height: 70px;
}
}

